<h1><%= @category.name %> Details</h1>

<p>Total Transaction Amount: <%= @total_amount %></p>

<h2>Transaction Items</h2>
<ul>
  <% @transactions.each do |transaction| %>
    <li><%= transaction.name %> </li>
    <li>  Amount: <%= transaction.amount %> </li>
    <li>  <%= transaction.created_at %> </li>
  <% end %>
</ul>

<%= link_to 'Create New transaction', new_category_transaction_path(@category) %>