<h1>New expense for <%= @category.name %></h1>

<%= form_with(model: [@category, @expense], local: true) do |form| %>
  <% if @expense.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@expense.errors.count, "error") %> prohibited this expense from being saved:</h2>

      <ul>
        <% @expense.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name %>
  </div>

  <div class="field">
    <%= form.label :amount %>
    <%= form.text_field :amount %>
  </div>

<div class="field">
  <%= form.label :category_ids, "Select Category" %>
  <%= form.collection_select :category_ids, current_user.categories, :id, :name, { selected: @expense.category_ids }, { multiple: true } %>
</div>


  <div class="actions">
    <%= form.submit 'Create expense' %>
  </div>

<% end %>

<%= link_to 'Back to Category Details', category_path(@category) %>